/*estilos del main colaboraciones*/

@media screen and (min-width:360px) {

    main {
        .main-titulo {
            background-color: $color-fondo;
            height: 100px;
            text-align: center;
            padding-top: 2.5rem;

            h1 {
                @include h1main;
                font-size: 17px;
            }
        }

        .main-contenedor2 {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            gap: 1rem;

            img {
                width: 90%;
                margin-top: 10%;
                margin-left: 4%;
            }
        }

        .main-contenedor2 a {
            color: $color-texto;
            font-weight: 300;
            font-size: 1rem;
            text-decoration: none;
        }

        .main-contenedor2 a:hover {
            color: $color-fondo;
            text-align: center;
        }
    }
}

@media screen and (min-width:668px) {
    main {
        .main-titulo {
            background-color: $color-fondo;
            height: 200px;
            text-align: center;
            padding-top: 6rem;

            h1 {
                @include h1main;
                font-size: 20px;
            }
        }

        .main-contenedor2 {
            display: grid;
            grid-template-columns: 2fr 2fr;
            grid-template-rows: 4fr 4fr 4fr;
            justify-content: center;
        }

        .img-11 {
            width: 100%;
            margin-bottom: 5%;
            margin-left: 5%;
        }

        .img-21 {
            width: 100%;
            margin-bottom: 5%;
        }

        .img-31 {
            width: 100%;
            margin-bottom: 5%;

        }

        .img-41 {
            width: 100%;
        }

        .img-51 {
            width: 100%;
            margin-bottom: 5%;
            margin-left: 1%;
        }

        .img-61 {
            width: 100%;
            margin-bottom: 5%;

        }

        .main-titulo {
            background-color: #ddddd8;
            height: 200px;
            text-align: center;
            padding-top: 6rem;
        }

        .main-titulo h1 {
            font-weight: 300;
            text-align: center;
            color: #262626;
            font-size: 20px;
        }

        .main-tituloh1 h1 {
            font-weight: 300;
            text-align: center;
            color: #262626;
            font-size: 18px;
        }

        .main-contenedor2 img:hover {
            transform: scale(1.01);
        }
    }
}

@media screen and (min-width:1200px) {
    main {
        .main-titulo {
            background-color: $color-fondo;
            height: 200px;
            text-align: center;
            padding-top: 6rem;

            h1 {
                @include h1main;
                font-size: 20px;
            }
        }

        .main-contenedor2 {
            display: grid;
            grid-template-columns: 2fr 2fr 2fr;
            grid-template-rows: 4fr 4fr;
            justify-content: center;
        }
    
        .img-11 {
            width: 100%;
            margin-bottom: 5%;
            margin-left: 5%;
        }
    
        .img-21 {
            width: 100%;
            margin-bottom: 5%;
            margin-left: 1%;
        }
    
        .img-31 {
            width: 100%;
            margin-bottom: 5%;
    
        }
    
        .img-41 {
            width: 100%;
            margin-bottom: 5%;
            margin-left: 5%;
        }
    
        .img-51 {
            width: 100%;
            margin-bottom: 5%;
            margin-left: 1%;
        }
    
        .img-61 {
            width: 100%;
            margin-bottom: 5%;
        }
    }
}