/*estilos main contacto*/

@media screen and (min-width:360px) {
    
    main {
        .main-titulo {
            background-color: $color-fondo;
            height: 100px;
            text-align: center;
            padding-top: 2.5rem;

            h1 {
                @include h1main;
                font-size: 17px;
            }
        }

        .form-ancho {
            width: 50%;
            margin-left: 25%;
            margin-top: 5%;
        }

        .form-boton {
            background-color: $color-fondo;
        }

    }
}

@media screen and (min-width:668px) {
    main {
        .main-titulo {
            background-color: $color-fondo;
            height: 200px;
            text-align: center;
            padding-top: 6rem;

            h1 {
                @include h1main;
                font-size: 20px;
            }
        }
    }
}

@media screen and (min-width:1200px) {
    main {
        .main-titulo {
            background-color: $color-fondo;
            height: 200px;
            text-align: center;
            padding-top: 6rem;

            h1 {
                @include h1main;
                font-size: 20px;
            }
        }
    }
}