/*estilos del main home*/

@media screen and (min-width:360px) {

    main {
        .main-tituloh1 {
            h1 {
                @include h1main;
                font-size: 1rem;
                margin-bottom: 10%;
            }
        }
    }
}

@media screen and (min-width:668px) {

    main{
        .main-tituloh1 {
            h1 {
                @include h1main;
                font-size: 1.2rem;
                margin-bottom: 7%;
            }
        }
    }
}

@media screen and (min-width:1200px) {

    main{
        .main-tituloh1 {
            h1 {
                @include h1main;
                font-size: 1.2rem;
                margin-bottom: 7%;
            }
        }
    }

}
